
.container
  #tags_heading
    .span-3
      = 'TAG'
    .span-3
      = 'PAGES'
    .span-18.last
      = 'Page Summary'
      
.container
  #tags_info
    .span-3
      .pseudo_table
        %a{ :href => "/tag/#{@tag_name}" }= @tag_name
    .span-3
      .pseudo_table
        - if @tagstable[@tag_name].empty?
          %p
            = 'None'
        - else
          - @tagstable[@tag_name].sort.each do |page|
            %a{ :href => "/#{page}"}= page
    .span-18.last
      .pseudo_table
        - @tagstable[@tag_name].sort.each do |page|
          = PagePreview.new(page).summary
